body {
    display: grid;
    place-content: center;
    gap: 1rem;
    background-color: #bea925;
}

main {
    border: 4px solid #6c25be;
    border-radius: 1rem;
    text-align: center;
    font-size: 2rem;
    padding: 2rem;
    font-family: sans-serif;
    background-color: #2596be;
    color: #6c25be;
}

main a {
    display: block;
}
