body {
  background: #f9e933;
  font-size: 100%;
  font-family: 'Noto Sans', sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: 'Ubuntu', sans-serif;
}

a {
  color: red;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header,
main,
footer {
  min-width: 855px;
}

header .container,
main .container,
footer .container {
  max-width: 855px;
  margin: auto;
}

header {
  background: white;
  overflow: auto;
}

header .left {
  float: left;
  width: 570px;
  color: #AD3F3D;
  font-style: italic;
  /* border: 1px solid black; */
}

header .right {
  float: right;
  width: 285px;
}

main {
  background: white;
  overflow: auto;
}

main .left {
  float: left;
  width: 570px;
  /* border: 1px solid black; */

}

main .right {
  float: right;
  width: 285px;
}

footer .contact {
  float: left;
  width: 570px;
  overflow: auto;
}

footer .contact :nth-child(2) {
  color: #AD3F3D;
  font-style: italic;
}

footer .sitemap {
  float: right;
  width: 285px;
}

li {
  list-style-type: none;
}

footer .sitemap .left {
  float: left;
}

footer .sitemap .right {
  float: right;
}