.wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
    padding-right: 10px;
    padding-left: 10px;
}

body {
    background-color: white;
    text-align: center;
    color: black;
    padding: 50px;
    /* 
    background-image: url("family.png");
    background-size: cover;
    background-repeat: no-repeat; 
    */
}

#new-game {
    font-size: x-large;
    border: 2px solid blue;
    border-radius: 5px;
    color: blue;
    background-color: white;
}

#status {
    color: blue;
}

.row {
    text-align: center;
}

.card {
    display: inline-block;
    background-color: white;
    height: 120px;
    width: 90px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 3px 3px;
    margin: 10px;
    overflow: auto;
}

.card img {
    height: 100px;
    width: 75px;
    margin-top: 10px;
    border: 1px solid black;
}

.card:hover {
    border-color: red;
    cursor: pointer;
}
