.wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
    padding-right: 10px;
    padding-left: 10px;
}

body {
    background-color: lightblue;
    text-align: center;
    color: black;
    padding: 50px;
}
#new-game {
    font-size: large;
    border: 2px solid blue;
    border-radius: 5px;
    color: blue;
    background-color: white;
}
#status {
    color: blue;
}

.row {
    text-align: center;
}

.card {
    display: inline-block;
    background-color: white;
    width: 100px;
    height: 100px;
    cursor: pointer;
    border: 1px solid blue;
    border-radius: 5px;
    box-shadow: 3px 3px;
    margin: 5px;
}

.card:hover {
    border: 2px solid red;
    height: 98px;
    width: 98px;
}

/* .card:hover {
    Start the shake animation and make the animation last for 0.5 seconds
    animation: shake 0.5s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
  }
   */
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }