body {
  background-color: black;
  color: white;
}

.clock {
  color: red;
  text-align: center;
  font-family: monospace;
  font-size: 10vw;
}

.timeFormat {
  text-align: center;
  font-size: 5vw;
  max-width: 60vw;
  margin: auto;
}