body {
  background-color: black;
  color: white;
}

#date {
  margin: 10px;
  text-align: center;
  font-size: 24px;
}
#clock {
  margin: 10px;
  color: red;
  text-align: center;  
  font-family: monospace;
  font-size: 48px;
}

.displayOptions {
  margin: auto;
  max-width: 150px;
  text-align: left;
  font-size: 12px;
}
